@model IEnumerable<CardinalDeadStockWebApi.Models.DesiredShoe>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesiredShoeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DesiredShoeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DesiredShoeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
